body {
    background-color: teal;
}
button {
    text-align: center;
}
label {

}

.board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-width: 70px;
    margin-right: auto;
    margin-left: auto;
}

.piece {
    position: relative;
    display: inline;
}

div {
    position: relative;
}