body {
    background-color: #1EA1A1;
}
button {
    text-align: center;
    font-size: 30px;
    font-family: "Plantagenet Cherokee", cursive;
}
label {
    font-family: "Plantagenet Cherokee", cursive;
    font-size: 25px;
}

.board {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-width: 7px;
    margin-right: auto;
    margin-left: auto;
}

.piece {
    position: relative;
    display: inline;
}

div {
    position: relative;
}

#message {
    font-size: 20px;
    font-family: Geneva, fantasy;

}

#nameLabel {
    font-family: Plantagenet Cherokee,cursive;
    font-size: 30px;
}

#idLabel {
    font-family: Plantagenet Cherokee,cursive;
    font-size: 30px;
}

#name {
    font-family: Plantagenet Cherokee,cursive;
    font-size: 25px;
}

#id {
    font-family: Plantagenet Cherokee, cursive;
    font-size: 25px;
}

#start {
    background-color: forestgreen;
    color: black;
}